CLIENT_NUMBER = ""
FATHER_NUMBER = ""
MOTHER_NUMBER = ""
SISTER_NUMBER = ""

WHAPI_TOKEN = ""
MY_NUMBER = ""


CLOUDE_FARE_ACCOUNT_ID = ""
CLOUDE_FARE_ACCESS_KEY_ID = ""
CLOUDE_FARE_SECRET_ACCESS_KEY = ""
CLOUDE_FARE_BUCKET_NAME = ""

TOKEN_GITHUB = ""
USERNAME_GITHUB = ""
REPO_NAME_GITHUB = ""